html
{ margin:1px}
Body{
  feom-family:arial;
  text-alligan:center;
  background:lightblue;
  colour:blue
   }
h1{text-decoration:nunderline;
}

.flex{
  display:flex;
  margin;30px
}
img{https://upload.wikimedia.org/wikipedia/commons/9/92/Addis_Ababa_Skyline_2023.jpg
  hight:500px;
  widht: 7oopx;
